extends layout

block css
  link(rel="stylesheet", href="/stylesheets/notes.css")
  link(rel="stylesheet", href="/stylesheets/codemirror.css")
  script(src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoaded&render=explicit" async defer)

block content
  #root.full-size
    #initial-content Loading...
  script(src="/javascript/common.js")
  script(src="/javascript/notes.js")
