extends layout

block css
  link(rel="stylesheet", href="/stylesheets/index.css")
  link(rel="stylesheet", href="/stylesheets/codemirror.css")

block content
  #root.full-screen-app
  script(src="/javascript/common.js")
  script(src="/javascript/notes.js")
