@import 'base';

html, body {
  width: 100%;
  height: 100%;
}

.app-container {
  position: relative;
  min-height: 100%;
}

.app-content {
  padding-bottom: 60px;
}

.app-footer {
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 12px;
  color: $light-text-disabled;
  background-color: $grey-800;
}

.container {
  margin: auto;
  padding: 0 10px;
  max-width: 880px;
}

.footer-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form-info-container {
  margin: 60px 0 50px;

  .form-group.error .validation-error {
    font-size: 14px;
    color: inherit;
  }
}

.form-group, .form-checkbox {
  margin-bottom: 12px;
}

.form-group {
  label {
    display: block;
    font-weight: $font-bold;
    padding-bottom: 6px;
  }

  .textbox {
    width: 100%;
  }

  &.error {
    .textbox {
      border-color: $red-600;
    }

    .validation-error {
      font-size: 12px;
      margin-top: 4px;
      color: $red-600;
    }
  }
}

.form-checkbox {
  position: relative;

  label {
    padding-left: 20px;
    cursor: pointer;
  }

  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    margin: 4px 0 4px -20px;
    cursor: inherit;
  }
}

.form-submit {
  margin: 16px 0;

  .btn {
    width: 100%;
  }
}

.form-footer {
  text-align: center;
}

.home {
  font-weight: $font-light;
}

.hero {
  background-color: $grey-800;
  color: $light-text-primary;
  padding: 200px 0;

  h1 {
    font-size: 36px;
    margin: 0;
  }

  p {
    font-size: 18px;
    margin: 0;
  }

  .signup {
    margin-top: 120px;
  }
}

#signin-form, #signup-form {
  width: 302px;
  margin: 0 auto;
  padding: 60px 0;

  h1 {
    margin-bottom: 30px;
  }

  form {
    margin-bottom: 32px;
  }
}

.user-info {
  text-align: center;
  margin: 16px auto;

  .user-avatar {
    display: inline-block;
    margin-bottom: 8px;
  }

  .user-name {
    font-size: 18px;
    font-weight: $font-bold;
  }

  .user-email {
    color: $dark-text-disabled;
  }
}
