@import 'base';

#home {
  .app-footer {
    background: $grey-800;
    color: $light-text-disabled;
  }
}

.hero {
  background-color: $grey-800;
  color: $light-text-primary;
  padding: 200px 0;

  h1 {
    font-size: 36px;
    margin: 0;
  }

  p {
    font-weight: $font-light;
    font-size: 18px;
    margin: 0;
  }

  .signup {
    margin-top: 120px;
  }
}

#signin-form, #signup-form {
  width: 302px;
  margin: 0 auto;
  padding: 60px 0;

  h1 {
    margin-bottom: 30px;
  }

  form {
    margin-bottom: 32px;
  }

  .btn {
    width: 100%;
  }

  .form-footer {
    text-align: center;
  }
}

.user-info {
  text-align: center;
  margin: 16px auto;

  .user-avatar {
    display: inline-block;
    margin-bottom: 8px;
  }

  .user-name {
    font-size: 18px;
    font-weight: $font-bold;
  }

  .user-email {
    color: $dark-text-disabled;
  }
}

.form-info-container {
  margin-bottom: 30px;
}
