@import 'base';
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

$collaborator-color-0: #0097a7;
$collaborator-color-1: #e91e63;
$collaborator-color-2: #ef6c00;
$collaborator-color-3: #3f51b5;
$collaborator-color-4: #4caf50;
$collaborator-color-5: #2196f3;
$collaborator-color-6: #673ab7;
$collaborator-color-7: #795548;
$collaborator-color-8: #827717;
$collaborator-color-9: #607d8b;

@mixin drop-shadow($offset-x, $offset-y, $blur-radius, $color) {
  filter: drop-shadow($offset-x $offset-y $blur-radius $color);
  -webkit-filter: drop-shadow($offset-x $offset-y $blur-radius $color);
}

@mixin colorize() {
  &.color-0 {
    background-color: $collaborator-color-0;
  }

  &.color-1 {
    background-color: $collaborator-color-1;
  }

  &.color-2 {
    background-color: $collaborator-color-2;
  }

  &.color-3 {
    background-color: $collaborator-color-3;
  }

  &.color-4 {
    background-color: $collaborator-color-4;
  }

  &.color-5 {
    background-color: $collaborator-color-5;
  }

  &.color-6 {
    background-color: $collaborator-color-6;
  }

  &.color-7 {
    background-color: $collaborator-color-7;
  }

  &.color-8 {
    background-color: $collaborator-color-8;
  }

  &.color-9 {
    background-color: $collaborator-color-9;
  }
}

$title-section-height: 64px;

#editor-container {
  overflow: hidden;
}

.document-list-container {
  display: flex;
  flex-flow: column;
  width: 242px;
  height: 100%;
  float: left;
  background-color: $grey-50;

  &.collapsed {
    display: none;
  }

  .document-list-header {
    flex: 0 0 auto;
    position: relative;
    height: $title-section-height;

    .document-list-header-content-container {
      display: flex;
      height: 64px;
      align-items: center;

      .user-avatar {
        flex: 0 0 auto;
        margin-left: 16px;
        margin-right: 16px;
      }

      .user-info {
        flex: 1 1 auto;

        .user-name {
          font-size: 16px;
          font-weight: $font-bold;
        }

        .user-email {
          color: $dark-text-disabled;
          font-size: 12px;
        }
      }

      .account-menu {
        flex: 0 0 auto;
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }

  .document-list-status {
    flex: 0 0 auto;
    padding: 0;
  }

  .document-list {
    flex: 1 1 auto;
    overflow-y: auto;

    .document-item {
      display: block;
      color: $dark-text-primary;
      text-decoration: none;
      padding: 8px 12px;

      &:hover, &:focus {
        background-color: $grey-250;

        .document .delete-button {
          display: inherit;
        }
      }

      &.document-item-selected, &.document-item-selected:hover {
        background-color: $grey-300;
      }

      .document .delete-button {
        display: none;
        float: right;
        width: 16px;
        text-align: center;
      }
    }
  }
}

.popup-container {
  position: relative;

  .btn.popup-trigger {
    padding-left: 4px;
    padding-right: 4px;
  }

  .popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
  }

  .popup-content {
    position: absolute;
    z-index: 2050;
  }

  &.popup-container-bottom-left {
    .popup-content {
      right: 0;
    }
  }
}

.popup-menu-container {
  min-width: 120px;
  padding-top: 4px;
  padding-bottom: 4px;
  @include drop-shadow(0, 0, 2px, rgba(0, 0, 0, 0.5));
  background-color: $white;

  .popup-menu-item {
    list-style-type: none;

    a {
      display: block;
      padding: 4px 8px;
      color: $dark-text-primary;
      background-color: $white;
      cursor: pointer;

      &:hover, &:active {
        color: $white;
        background-color: $blue-500;
      }
    }
  }
}

.popup-collaborators {
  width: 276px;
  padding: 8px;
  @include drop-shadow(0, 0, 2px, rgba(0, 0, 0, 0.5));
  background-color: $white;

  .popup-collaborator-list {
    display: flex;
    flex-wrap: wrap;

    .collaborator {
      margin-bottom: 4px;
    }
  }

  .popup-collaborator-settings {
    padding-left: 20px;
  }
}

$status-bar-height: 30px;
$status-bar-padding-top: 0;
$status-bar-padding-right: 8px;
$status-bar-item-margin-top: 0;
$status-bar-item-margin-right: 4px;
$status-bar-item-padding-top: 8px;
$status-bar-item-padding-right: 8px;
$status-bar-font-size: 12px;
$status-bar-line-height:
  $status-bar-height - ($status-bar-padding-top + $status-bar-item-margin-top + $status-bar-item-padding-top) * 2;

.editor-container {
  position: relative;
  height: 100%;
  margin-left: 242px;

  &.full-screen {
    margin-left: 0;
  }

  .title-editor {
    height: $title-section-height;
    margin-right: 180px;

    .document-title {
      outline: none;
      border: 1px solid transparent;
      padding: 6px;
      cursor: pointer;
      font-size: $h1-font-size;
      margin: 6px 6px;
      height: 36px;
      width: 100%;

      &:hover {
        border: 1px solid $grey-300;
      }

      &:focus {
        border: 1px solid $grey-600;
        cursor: inherit;
      }
    }
  }

  .collaborator-list {
    display: flex;
    float: right;
    width: 150px;
    height: 30px;
    margin: 10px 8px 8px 8px;
    align-items: center;
    justify-content: flex-end;

    .user-avatar {
      @include colorize;
    }

    .collaborator {
      display: inline-block;
      margin-left: 1px;
      margin-right: 1px;
      flex: 0 0 auto;

      .collaborator-color {
        width: 24px;
        height: 5px;
        margin-top: 1px;
        @include colorize;
      }
    }

    .popup-trigger {
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  .editor {
    height: calc(100vh - #{$title-section-height + $status-bar-height});

    .CodeMirror {
      height: 100%;
      font-family: Inconsolata, monospace;
      font-size: 14px;
      line-height: 1.4;
      font-variant-ligatures: no-common-ligatures;
    }
  }
}

.status-bar, .tool-bar {
  display: flex;
  flex-flow: row;
  height: $status-bar-height;
  padding: $status-bar-padding-top $status-bar-padding-right;
  font-size: $status-bar-font-size;
  line-height: $status-bar-line-height;
  vertical-align: baseline;
  background-color: $grey-200;
  color: $dark-text-secondary;
}

.tool-bar {
  .tool-bar-item {
    flex: 0 1 auto;
    margin: $status-bar-item-margin-top $status-bar-item-margin-right;
    padding: $status-bar-item-padding-top $status-bar-item-padding-right;

    &.flex-width {
      flex: 1 1 auto;
    }

    &.icon-button {
      width: 32px;
      text-align: center;
    }
  }
}

.status-bar {
  .status-bar-item {
    flex: 0 1 auto;
    margin: $status-bar-item-margin-top $status-bar-item-margin-right;
    position: relative;

    &:hover {
      background-color: $grey-300;
    }

    &.disabled {
      background: none;
      cursor: inherit;
      color: $dark-text-disabled;

      &:hover {
        background: none;
      }
    }

    &.flex-width, &.flex-width:hover {
      flex: 1 1 auto;
      background: none;
      cursor: inherit;
    }

    &.popup-open {
      background-color: $white;
      @include drop-shadow(0, 0, 2px, rgba(0, 0, 0, 0.5));
      z-index: 1050;
    }

    .status-bar-item-content {
      padding: $status-bar-item-padding-top $status-bar-item-padding-right;
      cursor: pointer;
    }

    .icon-button {
      width: 32px;
      text-align: center;
    }
  }
}

#sync-status {
  display: inline-block;
  font-family: FontAwesome;

  .cloud-icon-fill {
    fill: url("#cloud-icon-pattern");
    animation: cloud-icon-pattern-animation 0.25s infinite linear;
  }

  .disconnected i {
    color: $red-600;
    text-shadow: 0 0 4px rgba($red-600, 0.3);
    animation: sync-status-icon-blink 3s step-end infinite;
  }
}

@keyframes cloud-icon-pattern-animation {
  to {
    transform: translateX(8px);
  }
}

@keyframes sync-status-icon-blink {
  0% {
    opacity: 1;
  }
  86% {
    opacity: 0.1;
  }
}

.status-popup {
  position: absolute;
  width: 320px;
  padding: 12px;
  background-color: $white;
  color: $dark-text-primary;
  font-size: $base-font-size;
  line-height: $base-line-height;

  &.popup-top-left {
    bottom: $status-bar-height;
    right: 0;
  }

  &.popup-top-right {
    bottom: $status-bar-height;
    left: 0;
  }

  .popup-title {
    margin: 0 16px 10px 0;
    font-size: $h3-font-size;
    font-weight: $font-bold;
  }

  .popup-close-button {
    float: right;
    font-size: $h3-font-size;
  }
}

#language-selection-filter {
  width: 100%;
  margin: 10px 0;
}

#language-selection-list {
  position: relative;
  margin: 12px 0;
  padding: 0;
  height: 300px;
  overflow-y: auto;

  .language-selection-item {
    display: flex;
    align-items: baseline;
    padding: 8px;
    color: $dark-text-primary;
    cursor: pointer;

    &:hover, &:focus {
      background-color: $grey-200;
      color: $dark-text-primary;
    }

    &:active {
      background-color: $grey-300;
      color: $dark-text-primary;
    }

    .language-mode-name {
      flex: 1 1 auto;
    }

    .language-mode-current {
      flex: 0 0 auto;
      color: $dark-text-disabled;
    }
  }

  .language-selection-empty {
    position: absolute;
    width: 100%;
    padding: 8px;
    text-align: center;
    color: $dark-text-disabled;
  }
}

#popup-navigation {
  width: 280px;
}

#popup-navigation-content {
  display: flex;
  flex-flow: row;
  margin: 12px 0 0;
}

#navigation-text {
  flex: 1 1 auto;
  margin-right: 12px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;

  .modal-dialog {
    width: 540px;
    margin: 128px auto 0;
    padding: 16px;
    background: $white;
    @include drop-shadow(0, 0, 4px, rgba(0, 0, 0, 0.5));

    .modal-dialog-close {
      float: right;
      font-size: $h1-font-size;
    }

    .modal-title {
      margin: 0 30px 30px 0;
      font-size: $h1-font-size;
    }

    .modal-footer {
      margin-top: 12px;
      font-size: $small-font-size;

      &.error {
        color: $red-600;
      }
    }

    .modal-buttons {
      margin-top: 30px;
      text-align: right;

      .btn {
        margin-right: 14px;
      }

      .btn:last-child {
        margin-right: 0;
      }
    }
  }
}

#permission-modal-body {
  .modal-body-section-title {
    margin: 20px 0 8px;
  }

  .modal-body-section {
    .form-checkbox {
      margin-bottom: 6px;
    }
  }
}

#owner-identity-section {
  display: flex;
  align-items: center;

  .user-avatar {
    flex: 0 0 auto;
  }

  .owner-identity {
    flex: 1 0 auto;
    margin-left: 12px;

    .name {
      font-weight: $font-bold;
    }

    .email {
      color: $dark-text-secondary;
    }
  }
}

#collaborator-permission-list {
  margin: 8px 0;
  max-height: 320px;
  overflow-y: scroll;
  border: 1px solid $grey-300;

  .collaborator-permission-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid $dark-text-divider;

    .user-avatar {
      width: 32px;
    }

    .collaborator-identity {
      flex: 1 1 auto;
      margin-left: 12px;

      .form-group {
        margin: 0;
      }

      .name {
        font-weight: $font-bold;
      }

      .email {
        color: $dark-text-secondary;
      }

      .collaborator-placeholder {
        width: 320px;
      }
    }

    .collaborator-permission {
      margin-left: 12px;
    }

    .collaborator-operations {
      margin-left: 12px;

      .collaborator-self {
        color: $dark-text-secondary;
        font-size: $small-font-size;
      }

      .btn {
        visibility: hidden;
        display: inline-block;
        width: 14px;
        margin-left: 6px;

        &:first-child {
          margin-right: 0;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &.editable .collaborator-permission-item {
    &.new-item, &:hover {
      .collaborator-operations .btn {
        visibility: visible;
      }
    }

    &.new-item {
      .collaborator-identity {
        flex: 0 0 auto;
        margin-left: 44px;
      }

      .collaborator-operations {
        flex: 1 1 auto;
      }
    }
  }
}

#notification-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  z-index: 5000;

  .notification-item {
    display: block;
    position: relative;
    margin: 20px 20px 0 0;
    padding: 14px;
    max-height: 200px;
    border-left: 4px solid $grey-600;
    background-color: $grey-300;
    color: $dark-text-primary;
    @include drop-shadow(0, 0, 2px, rgba(0, 0, 0, 0.5));

    &.notification-information {
      border-left-color: $blue-600;
      background-color: $blue-50;
      color: $blue-900;
    }

    &.notification-warning {
      border-left-color: $orange-600;
      background-color: $orange-50;
      color: $orange-900;
    }

    &.notification-error {
      border-left-color: $red-600;
      background-color: $red-50;
      color: $red-900;
    }

    .notification-close {
      float: right;
    }

    .notification-content {
      margin-right: 16px;
    }
  }

  .notification-item-enter {
    right: -320px;
  }

  .notification-item-enter.notification-item-enter-active {
    right: 0;
    transition: right 0.4s ease;
  }

  .notification-item-leave {
    opacity: 1;
    max-height: 200px;
    margin-top: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .notification-item-leave.notification-item-leave-active {
    opacity: 0;
    max-height: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: opacity 0.2s ease-in, max-height 0.2s ease 0.2s, margin-top 0.2s ease 0.2s, padding 0.2s ease 0.2s;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $white;
  z-index: 10;

  &.hide {
    display: none;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &.app-name {
      color: $dark-text-divider;
      margin: 0;
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.collaborator-cursor-container {
  display: inline-block;
  position: absolute;

  .collaborator-cursor {
    position: absolute;
    width: 2px;
    height: 16px;
    top: 1px;
    left: -1px;
    @include colorize;
  }

  .collaborator-identity {
    visibility: hidden;
    position: absolute;
    bottom: -1px;
    left: -1px;
    padding: 1px 4px;
    font-family: $base-font-family;
    font-size: $small-font-size;
    pointer-events: none;
    color: $white;
    opacity: 0;
    transition: visibility 0s linear 2s, opacity 0.2s linear 1.8s;
    @include colorize;
  }

  &:hover .collaborator-identity {
    visibility: visible;
    opacity: 1;
    transition: none;
  }
}

#form-control-avatar {
  padding-top: 7px;
}

@import 'cm-base16-tomorrow-light.scss';
